* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*comentario para css*/

/*estilos header rgb(92, 62, 148);  rgb(228, 228, 228);letras*/

/*nav*/

header {
    background-color: rgb(92, 62, 148);
    display: flex;
    padding: 1rem;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;

}

.menu {
    display: flex;
    list-style-type: none;
    gap: 4rem;
}

.menu .item a {
    color: rgb(245, 245, 234);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu .item.active a {
    text-decoration: underline;
}


/*main de index*/

.titulo {
    background-color: rgb(242, 89, 18);
    width: 100%;
    margin-top: 50px;
    padding: 0.5rem;

}

.mayuscula {
    color: #2f2f2f;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
}

h1 {
    background-color: rgb(242, 89, 18);
    width: 100%;
    margin-top: 50px;
    padding: 0.8rem;
    color: #2f2f2f;
    font-size: 25px;

}

.h1eventos {
    margin-top: 90px;
}

h2 {
    color: #4d4b4b;
}

h3 {
    color: #4d4b4b;

}

p {
    color: #646464;
}

body,
main,
footer {
    font-family: "Datatype", monospace;

}

.presentacion {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.presentacion p {
    flex: 1;
    font-size: 1.1rem;
    line-height: 2;
    margin-top: 1rem;
    padding: 0 1rem 0 0;
    text-align: left;
}

.foto-principal {
    flex: 1;
    max-height: 800px;
    object-fit: cover;
}

/*main de libros*/

.banner-libro {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.dariolibro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-libro {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
}

.dariolibro {
    width: 100%;
    height: 80vh;
    display: block;
    margin: 0 auto;
    background-size: cover;
}


.libros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 3rem;
}

.libro {
    background-color: #f1eeee;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 10px;
}

.libro-amor {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.plibro {
    padding-inline: 2rem;
    padding-bottom: 1.5rem;
}

.boton-comprar i {
    margin-right: 8px;
}

.boton-comprar {
    background-color: #b7a9c9;
    color: #4b4b4b;
    text-decoration: none;

    padding: 0.8rem 1.5rem;

    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    width: fit-content;

    margin: 1.5rem auto 0 auto;

    font-weight: bold;

    transition: 0.3s;
}

.boton-comprar:hover i {
    transform: scale(1.8);
}


/*main medios grid*/
.contenedor-grid {
    margin: 2rem;
}

.img-periodico {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    width: 100%;

}

.img-intro {
    width: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
    object-position: center 30%;

}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: 40% 10% 40%;
    grid-auto-rows: auto;
    gap: 1rem;
}

.p-intro {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    padding: 1rem;

}

.hdos {
    grid-column: 2/3;
    text-decoration: underline dotted;
}

.uno {
    grid-row: 2/3;
}

.dos {
    grid-row: 7/8;
}

.tres {
    grid-row: 12/13;
}

.video-uno {
    grid-column: 1/2;
    grid-row: 3/4;
}

.p-videouno {
    grid-column: 1/2;
    grid-row: 4/5;
}

.video-dos {
    grid-column: 3/4;
    grid-row: 4/5;
}

.p-videodos {
    grid-column: 3/4;
    grid-row: 5/6;
}

.video-tres {
    grid-column: 1/2;
    grid-row: 5/6;
}

.p-videotres {
    grid-column: 1/2;
    grid-row: 6/7;
}

.video-cinco {
    grid-column: 3/4;
    grid-row: 8/9;
}

.p-videocinco {
    grid-column: 3/4;
    grid-row: 9/10;
}

.video-seis {
    grid-column: 1/2;
    grid-row: 10/11;
}

.p-videoseis {
    grid-column: 1/2;
    grid-row: 11/12;
}

.recorte-uno {
    grid-column: 3/4;
    grid-row: 13/14;
}

.recorte-dos {
    grid-column: 1/2;
    grid-row: 14/15;
    margin-bottom: 2rem;
}

.video-uno {
    position: relative;
}



/*main eventos*/

.eventos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.texto-evento {
    width: 50%;
}

.eventos img {
    width: 45%;
    height: auto;
}

.img-fluid {
    width: 45%;
    height: auto;

}

.btn-outline-naranja {
    color: rgb(242, 89, 18);
    border-color: rgb(242, 89, 18);
}

.btn-outline-naranja:hover {
    color: #fff;
    background-color: rgb(242, 89, 18);
    border-color: rgb(242, 89, 18);
}

.btn-outline-naranja:focus,
.btn-outline-naranja:active {
    color: #fff;
    background-color: rgb(242, 89, 18);
    border-color: rgb(242, 89, 18);
    box-shadow: none;
}


.eventouno {
    background-color: #d3d0d0;
    text-align: center;
}

.eventodos {
    background-color: #dddada;
    text-align: center;
}

.eventotres {
    background-color: rgb(234, 253, 253);
    text-align: center;
}

.eventocuatro {
    background-color: #e9e9e9;
    text-align: center;
}

.eventocinco {
    background-color: #b7a9c9;
    text-align: center;
}

.eventoseis {
    background-color: #c9c6c6;
    text-align: center;
}

/*main contacto*/


.banner-contacto {
    width: 100%;
    height: 350px;
    overflow: hidden;
}


.img-contacto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}
.contacto {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    gap: 40px;
}

.contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
}

textarea {
    min-height: 140px;
}

button {
    border: 2px solid #f25c05;
    background: transparent;
    color: #f25c05;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f25c05;
    color: black;
}

.contacto-info ul {
    list-style: none;
    padding: 0;
    
}

.contacto-info {
    margin-top: 30px;
}

.contacto-info a {
    text-decoration: none;
    color: black;


}

.contacto-info a:hover {
    color: #f25c05;
}

iframe {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    border: 0;
}

.contacto-info li {
    margin-bottom: 10px;
}

.intro-contacto {
    margin-bottom: 20px;
}
/*footer*/

footer {
    background-color: rgb(92, 62, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.redes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.imgfooter {
    width: 4rem;
    height: auto;
}

.pfooter {
    color: rgb(245, 245, 234);
}

.pfooter_minuscula {
    font-size: 0.8rem;
    color: rgb(245, 245, 234);

}

@media(max-width:480px) {
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    header {
        position: static;
    }

    .libros {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1.5rem;
    }

    .banner-libro {
        height: 200px;
    }
}


@media(min-width:481px) and (max-width:1115px) {
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    header {
        position: static;

    }

    .libros {
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 1.5rem;
    }

    .banner-libro {
        height: 200px;
    }

}

@media (max-width: 768px) {

    .contacto-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .hero-contacto {
        height: 250px;
    }

    .page-title {
        font-size: 1.4rem;
        text-align: left;
    }
}